h1{
    font-family: Raleway, serif;
    color: #7A0035;
    font-weight:500;
}
h2, h3{
    font-family: Relaway;
    color: #6A1137;
}
p{
    font-family: Montserrat, sans-serif;
    color: #52132f;
}
body{
    background-color: #f4f761;
}
ul, ol{
    font-family: Montserrat;
    color: #52132f;
}
#extra_links {
    font-family: Montserrat;
    font-weight: bold;
    color: #3D3D3D;
}
#english{
    font-size:25px;
}
#foto {
    position: absolute;
    border-radius: 400px;
    padding: 10px;
    background-color:#a1496f;
}
.description{
    position:relative;
    left: 350px;
    top: 40px;
}
.habs{
    position: relative;
    left: 350px;
    top: 40px;
}
.ex_links{
    position: relative;
    left: 350px;
    top: 40px;

}
.indice{
    position: relative;
    left:350px;
    top:40px;
}
#nome{
    text-align: center;
}
#desc{
    padding: 10px;
    background-color: rgb(187, 60, 81);;
    color: #e0e420;
}
#habi{
    padding: 10px;
    background-color: rgb(187, 60, 81);;
    color: #e0e420;
}
.ex_links h2{
    padding: 10px;
    background-color: rgb(187, 60, 81);;
    color: #e0e420;
}
.indice h3{
    padding: 10px;
    background-color: rgb(187, 60, 81);;
    color: #e0e420;
}
.habs li:nth-of-type(2n-1){
    font-style: oblique;
}